@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
     
body {
    font-family: 'Ubuntu', 
    sans-serif;
    width: 100%;
    margin: 0;
    position: relative;
    color: white;
}
.background {
    width: 100%;
    position: relative;
    margin-bottom: 0;
}
.main {
    background: linear-gradient(180deg,#080e12,#081016 700px);
    min-height: 800px;
    padding-top: 130px;
    margin: 0;
    margin-top: -10px;
    position: relative;
}
.header:before {
    position: relative;
}
.title {
    font-size: 28mm;
    position: absolute;
    top: 30vh;
    left: 25vh;
}
.minititle {
    font-size: 9mm;
    position: absolute;
    top: 35vh;
    left: 25vh;
}
.contentTitle {
    font-size: 15mm;
    display: flex;
    justify-content: center;
}
.contentParagraph {
    font-size: mm;
    text-align: center;
}

.socialGrid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
}

.colum {
 padding-left: 31vw;
}

svg {
    width: 100px;
    height: 100px;
}
