body, html
  font-family: 'Ubuntu', sans-serif;
  color: white;
  height: 100%;
}

main {
  overflow: auto;
  position: relative;
}
main:before {
  content: "";
  position: fixed;
  left: -5%;
  top: -5%;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url('assets/streetBackground.jpg');
filter: blur(30px);
  -webkit-filter: blur(30px);

  /* Full height */
  height: 110%;
  width: 110%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.torisuPlayer {
  color: white;
  display: flex;
  padding: 35px;
}

.strangerTitle {
  text-align: center;
  margin: 10px;
  font-size: 36px;
  padding: 25px;
  }

.albumList {
  padding: 30px;
  background-color: #1b171f;
  border-radius: 3px;
  right: -5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px;
  color: white;
}

.tisanaTypes {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / 4;
}

.songs {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 1em;
  
}

.suniArtist {
  margin: 35px
}

.nouxiFooter {
  background-color: #262625; !important
}

.footer {
  background-color: #262625 !important;
  color: white;
}

.lyrioLogo {
  padding: 150px;
  margin: 60px;
}
