body, html
  font-family: 'Ubuntu', sans-serif;
  color: white;
  height: 100%;
}

main {
  overflow: auto;
  position: relative;
}
main:before {
  content: "";
  position: fixed;
  left: -10%;
  top: -10%;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url('assets/streetBackground.jpg');
filter: blur(30px);
  -webkit-filter: blur(30px);

  /* Full height */
  height: 120%;
  width: 120%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.torisuPlayer {
  color: white;
  display: flex;
  padding: 35px;
}

.strangerTitle {
  text-align: center;
  margin: 10px;
  font-size: 36px;
  padding: 25px;
  }

.albumList {
  padding: 30px;
  background-color: #1b171f;
  border-radius: 3px;
  right: -5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px;
  color: white;
}

.tisanaTypes {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / 4;
}

.songs {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 1em;
  
}

.suniArtist {
  margin: 35px
}

.nouxiFooter {
  background-color: #262625; !important
}

.footer {
  background-color: #262625 !important;
  color: white;
}

.lyrioLogo {
  padding: 150px;
  margin: 60px;
}



.userIcon {
  position: relative;
  top: 0;
  left: 0;
}

.userImage {
  position: relative;
  top: -335px;
  left: 25px;
}

.userIB {
  position: relative;
  top: -175px;
  left: 0px;
}

.username {
  color: white;
  top: -240px;
  margin-left: 250px;
  position: relative;
  font-size: 38px;
}

.userBadges {
  margin-left: 250px;
  top: -220px;
  position: relative;
}

.box {
  background-color: #1b171f;
  max-width: 400px;
  max-height: 80%;
  margin-left: 40px;
  position: relative;
  top: -280px;
  color: white;
}

.box2 {
  background-color: #1b171f;
  max-width: 480px;
  max-height: 60%;
  margin-left: 40px;
  position: relative;
  top: -280px;
  color: white;
  border-radius: 5px;
}

.number {
  color: #e8336f;
  background-color: transparent;
  font-size: 45px;
}

.whatThis {
  font-size: 23px;
  margin-left: 14px;
}