body, html
  font-family: 'Ubuntu', sans-serif;
  color: white;
  height: 100%;
}

main {
  overflow: auto;
  position: relative;
}
main:before {
  content: "";
  position: fixed;
  left: -10%;
  top: -10%;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url('assets/streetBlur.png');
  /* Full height */
  height: 120%;
  width: 120%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.torisuPlayer {
  color: white;
  display: flex;
  padding: 35px;
}

.strangerTitle {
  text-align: center;
  margin: 10px;
  font-size: 36px;
  padding: 25px;
  }

.albumList {
  padding: 30px;
  background-color: #1b171f;
  border-radius: 3px;
  right: -5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px;
  color: white;
}

.tisanaTypes {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / 4;
}

.songs {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 1em;
  
}

.suniArtist {
  margin: 35px
}

.nouxiFooter {
  background-color: #262625; !important
}

.footer {
  background-color: #262625 !important;
  color: white;
}

.lyrioLogo {
  margin-left: 200px;
  margin-right: auto;
  display: block;
  top: 450px;
  max-width: 820px;
  position: relative;
}

.subtitle {
  position: relative;
  margin-left: 400px;
  color: white;
  font-size: 27px;
  top: 430px;
}

.spicyButtons {
  margin-left: 298px;
  top: 440px;
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
}


.userIcon {
  position: relative;
  top: 0;
  left: 0;
}

.userImage {
  position: relative;
  top: -335px;
  left: 25px;
}

.userIB {
  position: relative;
  top: -175px;
  left: 0px;
}

.username {
  color: white;
  top: -240px;
  margin-left: 250px;
  position: relative;
  font-size: 38px;
}

.userBadges {
  margin-left: 250px;
  top: -220px;
  position: relative;
}

.box {
  background-color: #1b171f;
  max-width: 400px;
  max-height: 80%;
  margin-left: 40px;
  position: relative;
  top: -280px;
  color: white;
}

.box2 {
  background-color: #1b171f;
  max-width: 458px;
  max-height: 60%;
  margin-left: 40px;
  position: relative;
  top: -280px;
  color: white;
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.number {
  color: #e8336f;
  background-color: transparent;
  font-size: 45px;
}

.whatThis {
  font-size: 23px;
  margin-left: 12px;
  position: relative;
  top: -10px;
}

.spicySearch {
  background-color: #1b171f;
  max-width: 398px;
  max-height: 3.9%;
  border-color: #27222b;
  border-radius: 5px
  border-top-color: #27222b;
  border-left-color: #27222b;
  border-top-left-radius: 5px;
  border-right-color: #27222b;
}

input {
  background-color: #1b171f;
  height: 4% !important;
  width: 99.9%;
  border-right-color: #27222b;
  border-color: #27222b;
  border-bottom-left-radius: #27222b;
  border-top-left-radius: 5px;
  border-top-color: #27222b;
  border-left-color: #27222b;
  border-radius: 5px;
  color: white;
  text-align: center;
}